#purpose {
    text-align: justify;
}

#chat {
    background-color: goldenrod;
    color: black;
    padding: 1%;
    height: 100%;
    width: 96%;
    left: 2%;
    position: relative;
}

#message {
    background-color: white;
    color: black;
    margin: 2%;
    width: 96%;
    position: relative;
    padding: 20px;
}

#send {
    z-index: 1;
    display: block;
    width: 0;
    border-radius: 50px;
    margin: auto;
    padding: 0;
    margin-top: 20px;
    /* width: 0;
    right: -71%;
    position: relative; */
}
